*{
    margin: 0; 
    box-sizing: border-box;
    font-family: "Open Sans"; 
    color: #212529;
}

/* NAVBAR */
.nav-container{
    display: flex; 
    list-style-type: none;
    background-color: #52a2da;
    font-size: 15px; 
    font-weight: 700;
    padding: 0;
}

.nav-container > li{
    padding: 1rem;
    color: white!important; 
}

.nav-container > li:hover{
    cursor: pointer;
    opacity: 0.5; 
}

#fedora:hover{
    opacity: 1; 
}

#fedora > img{
    margin-left: 3rem;
    width: 64px; 
    height: 16px; 
}

.editions{
    margin-left: auto; 
}

.wiki{
    margin-right: 3rem;
}

/* INTRODUCTION */
.intro-container{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    padding: 4rem 2.5rem; 
    color: #212529;
    margin: auto;   
}

.intro-container > .fedora-monitor{
    margin-left: auto; 
    max-width: 270px;
}

.intro-container > .introduction{
    flex: 1; 
    margin: 1rem 5rem; 
    max-width: 700px; 
}

.intro-container > .introduction > .heading{
    font-weight: 200;
    font-size: 40px; 
    margin-bottom: 1.5rem; 
}

.intro-container > .introduction > .content{
    line-height: 1.2;
    text-align: left;
    font-size: 20px;
    font-weight: 100;
}

/* EDITIONS */
.editions-container{
    display: flex; 
    flex-wrap: wrap;
    background-color: #f8f9fa;
    border: 1px solid rgb(222, 226, 230); 
    padding: 2rem 1rem; 
}

.header-container{
    display: flex; 
    align-items: center;
    margin: 1rem auto; 
    margin-top: 0; 
    flex-wrap: wrap;
}

.header-img{
    width: 50vw;  
}

.official{
    margin-left: auto; 
    color: #6c757d; 
}

.edition{
    margin: 0; 
    padding: 0; 
    line-height: 10px;
    display: block;
}

.editions-container main{
    font-weight: light;
    text-align: left;
}

.footer-container{
    display: flex; 
    margin: 0.7rem auto; 
    align-items: center;
    flex-wrap: wrap;
}

.learn{
    margin-right: auto; 
    color: #007bff;
    text-decoration: none;
}

.learn:hover{
    text-decoration: underline;
    color: blue; 
}

.footer-container > button{
    font-size: 1rem; 
    padding: 0.5rem;
    border-radius: 4px;
    background: transparent; 
    word-spacing: 1px;
}

/* EDITION: WORKSTATION */
.editions-container > .workstation{
    border: 1px solid rgb(222, 226, 230); 
    border-radius: 3px;
    background-color: white;
    padding: 1rem;
    padding-top: 0;  
    margin: 2rem auto; 
    width: 450px; 
}

.workstation > .header-container > .header-img {
    max-width: 270px;
}

.editions-container > .workstation > .footer-container > button{
    border: 1px solid #61b921; 
    color: #61b921; 
}

.editions-container > .workstation > .footer-container > button:hover{  
    background-color: #61b921; 
    color: white; 
}


/* EDITION: SERVER */
.editions-container > .server{
    border: 1px solid rgb(222, 226, 230); 
    border-radius: 3px;
    background-color: white; 
    padding: 1rem; 
    padding-top: 0; 
    margin: 2rem auto; 
    width: 450px; 
}

.server > .header-container > .header-img {
    max-width: 181px;
}

.editions-container > .server > .footer-container > button{
    border: 1px solid #c27c18; 
    color: #c27c18;
}

.editions-container > .server > .footer-container > button:hover{  
    background-color: #c27c18; 
    color: white; 
}


/* EDITION: IOT */
.editions-container > .iot{
    border: 1px solid rgb(222, 226, 230); 
    border-radius: 3px; 
    background-color: white;
    padding: 1rem; 
    padding-top: 0; 
    margin: 2rem auto; 
    width: 450px;  
}

.iot > .header-container > .header-img{
    max-width: 128px;
}

.editions-container > .iot > .footer-container > button{
    border: 1px solid #a07cbc; 
    color: #a07cbc; 
}

.editions-container > .iot > .footer-container > button:hover{  
    background-color: #a07cbc; 
    color: white; 
}


/* FEDORA FUTURE */
.future-container{
    background-color: #e9ecef;
    border: 1px solid rgb(222, 226, 230); 
    padding: 2em 1em; 
    display: flex; 
    flex-direction: column;
}

/* FEDORA FUTURE HEADING */
.future-container .heading{
    text-align: center;
}

.future-container .heading h1{
    color: #212529;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 5px; 
}

.future-container .heading h3{
    color: #212529;
    font-weight: 300;
    font-size: 1.2rem;
}

/* FUTURE VERSIONS */
.future-container .versions{
    display: flex;
    justify-content: flex-start;
    /* padding: 3em 5em 1em; */
    font-weight: 200;
    text-align: left;
    line-height: 22px; 
    margin: 3em 5em 1em;
}

.future-container footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.future-container .versions header{
    margin-bottom: 1.3em;
}

/* FEDORA FUTURE COREOS */
.future-container .coreos{
    border: 1px solid rgb(222, 226, 230); 
    border-radius: 3px;
    background-color: white; 
    padding: 1rem; 
    padding-top: 0;  
    margin: 0 1em;
    width: 300px;
}

.future-container .coreos main{
    margin-bottom: 2.5em;
}

.future-container .silverblue{
    border: 1px solid rgb(222, 226, 230); 
    border-radius: 3px;
    background-color: white; 
    padding: 1rem; 
    padding-top: 0; 
    margin: 0 1em;
    width: 300px;
}

.future-container .learn-future{
    font-size: 20px;
}

.future-container .learn-future > a{
    text-decoration: none;
    color: #007bff;
    font-weight: 550;
}

.future-container .learn-future > a:hover{
    color: #0056b3;
    text-decoration: underline;
}






/* MEDIA QUERIES */
@media all and (max-width: 830px){
    .intro-container {
        flex-direction: column;
    }

    .intro-container > .introduction {
        margin: 1.5rem auto 1rem; 
    }

    .intro-container > .fedora-monitor{
        margin: auto;
    }

    .intro-container > .introduction .heading{
        text-align: center;
    }

    .editions-container > .workstation {
        width: auto; 
    }

    .editions-container > .server{
        width: auto; 
    }

    .editions-container > .iot{
        width: auto; 
    }


    .future-container .versions {
        flex-direction: column;
        margin: 3em auto 1em; 
        align-items: center;
    }

    .future-container .coreos main{
        margin-bottom: 0;
    }

    .future-container .coreos{
        margin: 2rem auto 2em; 
        width: auto; 
    }

    .future-container .silverblue{
        margin: 2rem auto 2em; 
        width: auto; 
    }



}